@tailwind base;
@tailwind components;
@tailwind utilities;
@fontsource/roboto/300.css;
@fontsource/roboto/400.css;
@fontsource/roboto/500.css;
@fontsource/roboto/700.css;

body{
    background-color: #626CE3;
}